In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r'C:\Users\David\Desktop\Project for work\Eluvio_DS_Challenge.csv')
data

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews
...,...,...,...,...,...,...,...,...
509231,1479816764,2016-11-22,5,0,Heil Trump : Donald Trump s alt-right white...,False,nonamenoglory,worldnews
509232,1479816772,2016-11-22,1,0,There are people speculating that this could b...,False,SummerRay,worldnews
509233,1479817056,2016-11-22,1,0,Professor receives Arab Researchers Award,False,AUSharjah,worldnews
509234,1479817157,2016-11-22,1,0,Nigel Farage attacks response to Trump ambassa...,False,smilyflower,worldnews
509235,1479817346,2016-11-22,1,0,Palestinian wielding knife shot dead in West B...,False,superislam,worldnews

In [3]:
data.head(20)

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews
5,1201287889,2008-01-25,15,0,Hay presto! Farmer unveils the illegal mock-...,False,Armagedonovich,worldnews
6,1201289438,2008-01-25,5,0,"Strikes, Protests and Gridlock at the Poland-U...",False,Clythos,worldnews
7,1201536662,2008-01-28,0,0,The U.N. Mismanagement Program,False,Moldavite,worldnews
8,1201558396,2008-01-28,4,0,Nicolas Sarkozy threatens to sue Ryanair,False,Moldavite,worldnews
9,1201635869,2008-01-29,3,0,US plans for missile shields in Polish town me...,False,JoeyRamone63,worldnews
10,1201701773,2008-01-30,4,0,Archbishop of Canterbury calls for new law to ...,False,bgholt1970,worldnews
11,1201719875,2008-01-30,9,0,Top US Envoy: Violence In Kenya Is Ethnic Cle...,False,smacfarl,worldnews
12,1201722210,2008-01-30,1,0,Team building float to commemorate the Holocau...,False,Aerik,worldnews
13,1201765485,2008-01-31,1,0,Migrant workers told to abandon Lunar New Year...,False,markansoul,worldnews
14,1201794451,2008-01-31,2,0,"Sarkozy, Girlfriend Sue Ryanair Over Ad",False,Moldavite,worldnews
15,1201794900,2008-01-31,3,0,"Nicolas Sarkozy, Angela Merkel confirm their o...",False,Moldavite,worldnews
16,1201799407,2008-01-31,7,0,Mass Evacuations Continue in Kenya,False,smacfarl,worldnews
17,1201802685,2008-01-31,3,0,Poor Haitians Resort to Eating Dirt,False,Armagedonovich,worldnews
18,1201834758,2008-02-01,0,0,European Commission takes Greece to court over...,False,Moldavite,worldnews
19,1201886520,2008-02-01,4,0,Rambo banned in Burma,False,JoeyRamone63,worldnews

In [6]:
cleaned_data = data.drop(["category","time_created","date_created"], axis = 1, inplace = False)
cleaned_data # I clean above mentioned columns because they don't need for projection

,up_votes,down_votes,title,over_18,author
0,3,0,Scores killed in Pakistan clashes,False,polar
1,2,0,Japan resumes refuelling mission,False,polar
2,3,0,US presses Egypt on Gaza border,False,polar
3,1,0,Jump-start economy: Give health care to all,False,fadi420
4,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans
...,...,...,...,...,...
509231,5,0,Heil Trump : Donald Trump s alt-right white...,False,nonamenoglory
509232,1,0,There are people speculating that this could b...,False,SummerRay
509233,1,0,Professor receives Arab Researchers Award,False,AUSharjah
509234,1,0,Nigel Farage attacks response to Trump ambassa...,False,smilyflower
509235,1,0,Palestinian wielding knife shot dead in West B...,False,superislam

In [35]:
cleaned_data.shape

(509236, 5)

In [36]:
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [37]:
print (list(cleaned_data.columns))

['up_votes', 'down_votes', 'title', 'over_18', 'author']

In [25]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.metrics import mean_squared_error

In [26]:
df_new_train = cleaned_data.replace({False:0,True:1})

In [27]:
X = df_new_train.drop(["title","author", "over_18"], axis = 1, inplace = False)
y = pd.DataFrame(df_new_train["over_18"])

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 1)

In [54]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)

In [56]:
print ('Test RMSE over_18:', np.sqrt(mean_squared_error(predictions, y_test)))
print ('Train RMSE over_18:', np.sqrt(mean_squared_error(lm.predict(X_train), y_train)))

Test RMSE over_18: 0.02276333971125454
Train RMSE over_18: 0.025777540490324893